<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AutoIndent" value="true"/>
    <add key="BackgroundColor" value="#000000"/>
    <add key="CursorColor" value="#00ff00"/>
    <add key="SelectionColor" value="#007700"/>
    <add key="ScrollAhead" value="true"/>
    <add key="ShowColumnNumber" value="true"/>
    <add key="ShowCurrentLineNumber" value="true"/>
    <add key="ShowTotalLines" value="true"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>